from flask import Flask
from string import Template
import os
import time
import subprocess

TOKEN = ""
CHAT_ID = ""
AMOUNT_OF_PHOTOS = 9
SLEEP = 3/AMOUNT_OF_PHOTOS
FRAMERATE = AMOUNT_OF_PHOTOS/3

SEND_VIDEO_NOTIFICATION = True

app = Flask(__name__)

@app.route('/')
def index():
    return 'Doorbell api is up'

def send_telegram_media(bot_token, media_file, chat_id, media_type):
    endpoint_map = {
        "video": "sendVideo",
        "photo": "sendPhoto"
    }
    if media_type not in endpoint_map:
        return False

    endpoint = endpoint_map[media_type]
    command = f'curl -s -X POST https://api.telegram.org/bot{bot_token}/{endpoint} -F chat_id={chat_id} -F {media_type}=@{media_file}'
    result = subprocess.run(command.split(' '), stderr=subprocess.PIPE)
    return "Bad Request" in result.stderr.decode("utf-8")

def download_photo():
    subprocess.call(['wget', '-O', './snap.jpeg', '192.168.192.200/snap.jpeg'])

def download_photos():
    for x in range(0, AMOUNT_OF_PHOTOS):
        photo_template = Template('vid_$number.jpeg')
        start_time = time.time()
        subprocess.call(['wget', '-O', photo_template.substitute(number=x), '192.168.192.200/snap.jpeg'])
        elapsed_time = time.time() - start_time
        newSleep = SLEEP - elapsed_time
        if newSleep > 0:
            time.sleep(newSleep)

def turn_photos_into_video():
    video_template = Template("ffmpeg -r $framerate -i vid_%01d.jpeg -b:v 500k -preset ultrafast -an -c:v libx264 -threads 4 -pix_fmt yuv420p -y video.mp4")
    os.system(video_template.substitute(framerate=FRAMERATE))

def send_telegram_video():
    download_photos()
    turn_photos_into_video()
    return send_telegram_media(TOKEN, './video.mp4', CHAT_ID, 'video')

def send_telegram_photo():
    download_photo()
    return send_telegram_media(TOKEN, './snap.jpeg', CHAT_ID, 'photo')

@app.route('/doorbell')
def notify():
    if SEND_VIDEO_NOTIFICATION:
        success = send_telegram_photo()
        if (not success):
            return "Failed to send photo"
        
        success = send_telegram_video()
        if (not success):
            return "Failed to send video"
    else:
        success = send_telegram_photo()
        if (not success):
            return "Failed to send photo"
      
    return 'Success'

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=5000)